:root {
    --primaryColor: #B60B00; //red
    --secondaryColor: #D9D9D9; //gray
    --background: white; //blanc
    --textColor: black;
    --btn: #655A5A; //hamburger
    --boxShadow: 4px 4px 4px black;
    --Bradius: 10px;
}


