footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primaryColor);
}
footer a{
    text-decoration: none;
    line-height: 15px;
    color: black;
}


.socialnetwork {
    position: relative;
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    display: flex;
    flex-direction: column-reverse;
    /*-webkit-box-orient: vertical;*/
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*align-items: center;*/
}
.container-iconeCircle{
    /*display: flex;*/
    /*flex-direction: column-reverse;*/
    /*height: 0;*/
    /*overflow: hidden;*/
    position: relative;

}
.container-iconeCircle {
    position: absolute;
    bottom: 50px;
    display: none;
}
.socialnetwork:hover .circle {
    display: flex;
    transition: width 0.5s ease-out;
}
.socialnetwork:hover .container-iconeCircle{
    display: flex;
    flex-direction: column;

}

.iconeCircle {
    width: 45px;
    height: 45px;
    border-radius: 22px;
    background-color: var(--secondaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconeCircle a{
    display: flex;
    justify-content: center;
    align-items: center;
}

svg{
    width: 35px;
    height: 35px;
}
.iconeCircle:hover svg{
    -webkit-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.address{
    display: flex;

}
address{
    overflow: hidden;
    width: 0;
    transition: width 0.5s ease-out;
}
.address:hover{
    width: min-content;
}
.address:hover address{
    display: initial;
    width: 150px;
    text-decoration: none;
    color: black;
}

.tel {
    display: flex;

}

.tel:hover {
    width: min-content;
}
.tel a{
    overflow: hidden;
    width: 0;
    transition: width 0.5s ease-out;
}
.tel:hover a {
    display: initial;
    text-decoration: none;
    color: black;
    width: 150px;
    transition: width 0.5s ease-out;
}

