
/*Main*/

.home{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/*Image nav */


.image{
   background-image:url(images/background-image.jpg);
   background-repeat: no-repeat;
   background-position: center center;
}
/* Article */



h1{
   color: var(--primaryColor);
}

/* Section */


.section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  }


.card-home{
  display: flex;
  flex-direction:row;
  background-color: var(--secondaryColor);
  padding: 0.5rem;
  margin: 0.5rem;
  justify-content: space-around;
  border-radius: var(--Bradius);
  align-items: center;
  background-color: red;
}  

.photo{
  width: 80px;
  height: auto;
  object-fit: cover;
  padding: 0.5rem;
  border-radius: 15px;
}
.text{
color:var(--textColor);
font-stretch: 5%;

}





 
 

