.main-contact{
    width: 80%;
}

.container-contact {
    display: flex;
    flex-direction: column;
    background: var(--background);
    align-items: center;
    margin-bottom: 80px;
}

/*Partie formulaire*/

#center
{
    width:auto;
    margin:auto;
    margin-top:50px;
}

h2 {
    margin: 2rem;
    color : var(--primaryColor);
}

.container-form {
    margin: 1rem;
}

.container-form .input {
    width: 300px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    outline: none;
    border: none;
    background: var(--secondaryColor);
    border-radius: 5px;
    box-shadow: var(--boxShadow);
}

.container-form .textarea {
    width: 300px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    outline: none;
    border: none;
    background: var(--secondaryColor);
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    resize: none;
}


.container-form .submitMessage {
    padding: 0 1rem;
    margin: 0.5rem 0;
    width: 5rem;
    background-color: var(--secondaryColor);
    color: var(--textColor);
    border: none;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
}

.container-form .submitMessage:hover {
    cursor: pointer;
}

/*Boite de dialogue */
.conteneur
{
    padding:0.01em 16px;
    font-size:16px;
}
.bouton
{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
}
.noir
{
    color:#fff;
    background-color:#000;
}
.affichage
{
    position:absolute;
    right:0;
    top:0;
}
.boite
{
    display:none;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    /*attribut background avec opacity en 4ime caratère avec rgba*/
    background-color:rgba(0,0,0,0.4);
}
.boite-contenu
{
    margin:auto;
    background-color:#fff;
    width:600px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    border:#000 2px solid;
}
.animation-haut
{
    position:relative;
    animation:animerHaut 1s
}
@keyframes animerHaut
{
    from{top:-300px;opacity:0}
    to{top:0px;opacity:1}
}

.bleu
{
    color:#fff;
    background-color:#2b579a;
}
/*Partie Adresse*/

.container-address iframe {
    width: 300Px;
    box-shadow: var(--boxShadow);
    border-radius: 5px;
}

.container-address,
.container-address h3 {
    margin: 1rem 0;
}

.container-address p {
    margin: 0;
}


@media screen and (min-width: 475px) {
    .container-contact h2 {
        margin: 1rem 0 0 0;
    }

    .container-form,
    .container-form .textarea,
    .container-address iframe {
        width: 600px;
    }

}
@media screen and (min-width: 1500px) {
    .container-form,
    .container-form .textarea,
    .container-address iframe {
        width: 1200px;
    }

}