/* Card staff */

.card-container{
    display: flex;
    align-items: center;
    overflow: scroll;
    padding: 1rem 0;
    scroll-snap-type: both mandatory;
    overscroll-behavior: contain;
}

.card{
    width : 30rem;
    display: flex;
    justify-content: center;
}

.card-back{
    background-color: var(--secondaryColor);
    border-radius: var(--Bradius);
    box-shadow: var(--boxShadow);
    margin: 0 1rem;
    width : 18rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    scroll-snap-align: center;
}

.card-img-back{
    width: 10rem;
}

.card-front{
    display: none;
}

.card-img-front{
    width: 14rem;
}

/* rotation des cards

    card-container:hover{
    transform: rotateY(180deg);
}*/