
/*Main*/
.imgbackground{
  width: 100vw;
  height: 200px;
  z-index: -1;
}

/* Article */

h1{
   color: var(--primaryColor);
   margin-left: 56px;
}

.image-article{
  display: block;
  width: 311px;
  height: 300px;
  margin-left: 57px;
  margin-right: 28px;
  }

.text1{
  padding: 20px;
  margin-left:  40px;
}

/* Section */

.section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  }


.card-home{
  display: flex;
  flex-direction:row;
  background-color: var(--secondaryColor);
  padding: 0.5rem;
  margin: 0.5rem;
  justify-content: space-around;
  border-radius: var(--Bradius);
  align-items: center;
  width: 90%;
  height: 77px;
  margin-left: 21.25px;
}  

.photo{
  width: 80px;
  height: auto;
  object-fit: cover;
  padding: 0.5rem;
  border-radius: 15px;
}
.text{
color:var(--textColor);
font-stretch: 5%;
line-height:13px;

}





 
 

