
/*Main*/
*{
  margin: 0;
  padding: 0;
}
.home{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

/*Image nav */


.image{
   max-width: 100%;
   height: auto;
   background-image: cover;
}

/*Image article */

.imageArticle{
  max-width: 100%;
  left: 1rem;
  right: auto;
}

/* Article */

h1{
   color: var(--primaryColor);
   font-size: 10px;
}

.text1{
    margin: 10px;
    padding: 10px;
}

/* Section */

h2{
   color: rgba(182, 11, 0, 0.5);
   margin-bottom: 20px;
   font-size: 25px;
}

.section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px auto;
  }

.card{
  display: flex;
  flex-direction:row;
  background-color: var(--secondaryColor);
  padding: 0.5rem;
  margin: 0.5rem;
  justify-content: space-around;
  border-radius: var(--Bradius);
  align-items: center;
  box-shadow: var(--boxShadow);
  width: auto;
  height: auto;
}  

.photo{
  width: 80px;
  height: auto;
  object-fit: cover;
  padding: 0.5rem;
  border-radius: 15px;
}
.text{
color:var(--textColor);
line-height: 1rem;
}





 
 

