@import "modules/sds-variables.css";
@import "modules/sds-header.css";
@import "modules/sds-home.css";
@import "modules/sds-contact.css";
@import "modules/sds-staff.css";
@import "modules/sds-footer.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: var(--primaryColor);
    text-align: center;
}

h3 {
    color: var(--primaryColor);
}

.container-grid {
    display: grid;
    grid:
    "header" 53px
    "main" 1fr
    "footer" 70px
    /100vw;
    height: 100vh;
}

#header {
    grid-area: header;
}

#main {
    grid-area: main;
}

#footer {
    grid-area: footer;
}

@media screen and (min-width: 425px) {

    .container-grid {
        display: grid;
        grid:
    "header" 100px
    "main" 1fr
    "footer" 100px
    /100vw;
        height: 100vh;
    }
}