@import "modules/sds-variables.css";
@import "modules/sds-header.css";
@import "modules/sds-home.css";
@import "modules/sds-contact.css";
@import "modules/sds-staff.css";
@import "modules/sds-footer.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h2{
    color : var(--titleColor);
    margin: 2rem;
}

h3{
    color : var(--titleColor);
}

